<nz-page-header nzTitle="Enrichment: {{ selectedType }}"></nz-page-header>
<nz-table
  [nzLoading]="loading$ | async"
  [nzData]="entries$ | async"
>
  <thead>
    <tr>
      <th
        [nzShowCheckbox]="true"
        [nzChecked]="allChecked"
        (nzCheckedChange)="onCheckAllChange($event)"
      ></th>
      <th>uuid</th>
      <th>timestamp</th>
      <th>user</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of entries$ | async">
      <td
        [nzShowCheckbox]="true"
        [nzChecked]="!!checkedMap[entry.uuid]"
        (nzCheckedChange)="onCheckChange($event, entry)"
      ></td>
      <td>{{ entry.uuid }}</td>
      <td>{{ entry.timestamp }}</td>
      <td>{{ entry.user }}</td>
      <td>{{ entry.value }}</td>
    </tr>
  </tbody>
</nz-table>
